.form {
  /* background: red; */
  padding: 0.5em;
  display: flex;
  height: 100vh;
  margin-top: -2px;
  padding-top: 20px;
  position: relative;
}

.form .progressbar {
  width: 400px;
  width: 70%;
  height: 13px;
  background-color: white;
  border: 0.1px solid #007bff;
  border-radius: 10px;
  /* margin-bottom: 50px; */
  margin: 4px auto 15px;
}

.form .progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #007bff;
  border: 0.1px solid #007bff;
  border-radius: 10px;
  transition: all 0.6s;
}
.form .footer button {
  background: #007bff;
  color: white;
  padding: 0.7em;
  border: 0.1px solid white;
  border-radius: 3px;
  width: 160px;
  margin-left: 2em;
  transition: all 0.5s;
}
.form .footer button:hover {
  background: #115dae;
  scale: 1.1;
}
.form .left {
  width: 20%;
  border-right: 1px solid black;
  order: 1;

  /* background: red; */
}
.form .left .logo {
  margin: 0.5em;
  /* border: 2px solid #007bff; */
  border-radius: 20px;
  padding: 0.9em;
  scale: 0.99;
}
.form .left .section-navigation {
  /* background: red; */
  margin-left: -5px;
  padding: 0;
  width: 100%;
  display: grid;
  height: 55vh;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* border-bottom: 2px solid black; */
}
.form .left .section-navigation .row {
  background: white;
  color: black;
  font-weight: 500;
  width: 100%;
  transition: all 0.2s;
  background: rgb(246, 244, 244);
  display: flex;
  justify-content: flex-start;
  font-size: 0.9em;
}

.form .left .section-navigation .logout {
  background: white;
  color: black;
  font-weight: 500;
  width: 100%;
  transition: all 0.2s;
  background: rgb(246, 244, 244);
  display: flex;
  justify-content: flex-start;
  font-size: 0.9em;
  padding: 1em;
  margin-left: 1em;
  cursor: pointer;
}
.form .left .section-navigation .logout:hover {
  /* background: rgba(0, 123, 255, 0.9); */
  color: #ff4870;
  font-weight: 600;
}

.form .left .section-navigation .logout p {
  margin-left: 0.8em;
}

.form .left .section-navigation .row .childrow {
  margin-left: 0.8em;
}

.form .left .section-navigation .row:hover {
  background: rgba(0, 123, 255, 0.5) !important;
  /* background: #bbbbbb!important; */
  color: white;
  width: 100%;
}
.form .header {
  font-size: 1.3em;
  color: #007bff;
  font-weight: 600;
}
.form .right-side {
  width: 80%;
  /* border: none; */
  margin-top: 0;
  padding: 0;
  order: 2;
}
.sign-up-container {
  margin: 20px auto;
  /* background: green; */
  width: 70%;
  height: 25em;
  border: 1px solid black;
  /* border-radius: 3px; */
  padding: 1.5em;
  overflow-y: auto;
}
.sign-up-container .subtitle {
  width: 100%;
  color: white;
  padding: 0.1em;
  background: grey;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin: 0.5em;
}

.input-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
  font-weight: 600;
  color: #007bff;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  border-color: #007bff;
}
.docs-uploads {
  border: 1px solid rgba(0, 123, 255, 0.6);
  border-radius: 3px;
  height: 25em;
  width: 80%;
  margin: 1em auto 1em;
  overflow-y: auto;
}

.document-upload-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: flex-start;
  margin: 0.5em;
  margin-top: 4em;
  /* border-bottom:1px solid  #007bff; */
  box-shadow: 2px 2px 3px #ddd;
  /* width: 98%; */
  padding: 1.5em;
}

.doc-input {
  margin-bottom: 10px;
  /* background: red; */
  width: 100%;
}

.document-upload-container label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
  font-weight: 700;
  color: #007bff;
  /* background: red; */
  width: 100px;
  padding: 0.4em;
  /* border: 1px solid #007bff; */
}

.document-upload-container .file-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* outline: none; */
  width: 40%;
  /* position: absolute;
  right: 0; */
  transition: border-color 0.3s ease-in-out;
}

.doc-upload-button {
  background-color: #4caf50;
  background: #ff4870;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.mobileleft {
  display: none;
}

.document-upload-container .down {
  display: flex;
  /* background: red; */
  justify-content: center;
  align-items: center;
}
.document-upload-container .down p {
  color: #007bff;
  font-size: 1em;
  font-weight: 700;
  width: 400px;
  /* background: red; */
  /* margin-left:100px; */
  /* margin-right: .5em; */
}
.document-upload-container .down button {
  margin-left: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.document-download-container {
  display: flex;
  justify-content: space-around;
}
.download {
  /* background: green; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.download label {
  color: #007bff;
  font-size: 1em;
  font-weight: 600;
}

.spinner {
  height: 20px;
  width: 20px;
  border: 3px solid white;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin .9s infinite linear forwards;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mobile Manenoz*/
@media screen and (max-width: 768px) {
  .form .left {
    display: none;
  }
  .mobileleft {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 92.5vh;
    z-index: 1;
    background: red;
    background: #ddd;
    background: white;
    width: 15%;
    transition: all 0.5s;
    box-shadow: 2px 0px 8px #ddd;
    overflow-y: auto;
  }
  .mobileleft .hambuger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 1.3em 0.7em 1em 0.7em;
  }
  .mobileleft .hambuger span {
    background-color: white;
    background: #007bff;
    height: 3px;
    width: 30px;
    margin: 2px 0;
    transition: 0.4s;
  }
  .mobileleft.width-expand {
    width: 70%;
  }
  .mobileleft .logo {
    margin: 1.4em;
    /* scale: 1.1; */
  }
  .mobileleft .row {
    background: rgb(246, 244, 244);
    font-weight: 550;
  }
  .mobileleft .row:hover {
    background: rgba(0, 123, 255, 0.9);
  }
  .mobileleft .childrow {
    margin-left: 0.8em;
  }
  .form .right-side {
    position: absolute;
    z-index: 0;
    width: 100%;
    /* background: red; */
  }
  .sign-up-container {
    /* background: red; */
    width: 80%;
    margin-left: 15%;
    padding: 1.1em;
    border: 1px solid rgb(222, 218, 218);
  }
  .form .footer button {
    width: 280px;
    margin-bottom: 0.3em;
  }
  .form .footer button:hover {
    background: #115dae;
    scale: 1.01;
  }
  .sign-up-container .subtitle {
    width: 100%;
    color: white;
    padding: 0.4em;
    background: grey;
  }
  .input-field::placeholder {
    font-size: 0.9em;
  }
  .docs-uploads {
    width: 80%;
    margin-left: 15%;
  }

  .document-upload-container label {
    /* background: red; */
    width: 250px;
    padding: 0.4em;
    left: 0;
  }
  .document-upload-container .file-input {
    width: 100%;
    margin-left: -30px;
  }
  .doc-upload-button {
    width: 100%;
    /* margin-left: -50px; */
  }

  .document-upload-container .down {
    display: flex;
    /* background: red; */
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
  }
  .document-upload-container .down p {
    color: #007bff;
    color: #6d6d6d;
    /* color: #ff4870; */
    font-size: 0.8em;
    font-weight: 700;
    width: 400px;
    height: 40px;
    /* : .5em; */
    overflow-y: hidden;
    /* background: red; */
    text-align: left;
    /* margin: .5em; */
    margin-left: 10px;
    /* margin-right: .5em; */
  }
  .document-upload-container .down button {
    margin-left: 2.5em;
  }
  .document-download-container {
    flex-direction: column;
  }
}
