@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-button {
  /* background-color: #447489; */
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #FF4870;
}
::-webkit-scrollbar-track {
  /* background-color: #447489; */
  /* color: #447489; */
}
::-webkit-scrollbar-track-piece {
  /* color: #447489; */
  /* background-color: #447489; */
}
::-webkit-scrollbar {
  width: 10px;
  /* background-color: #447489; */
}
